*.db
pretrained*.jsonl
parallelize*.jsonl
logs
env
wandb
judge/data
out
print_prompt.sh
judge/manual_review/old
judge/judge_models/
results/mc2/
results/*.csv
*old*
judge/judge_output/
results/results_to_csv.py
new_env
analysis/by_category
analysis/comparar_judge_MC.py
utils/config.yaml
__pycache__/
analysis/compare_to_MT_translation/count_tokens.py
analysis/compare_to_MT_translation/errors.csv
analysis/compare_to_MT_translation/translate.slurm
analysis/Galician_validation.json
analysis/by_category.csv
analysis/by_type.csv
iaa_results_all.csv
judge/iaa_judge.txt
judge/judge_results-MT.py
results-MT-claude/
results-MT-NLLB/
results-MT/
analysis/compare_to_MT_translation/check_eu_wierdcases.py
analysis/compare_to_MT_translation/eu_differences.csv
analysis/explore_difficult_instances/
analysis/explore_informativeness/
judge/judge_results_info.py
results/mc2_results_to_csv.py
utils/calculo_mc2.py
judge/results-MT-NLLB.csv
judge/results-MT-claude.csv
results/*
*.sh
*.txt
plots/
*.slurm
analysis/NLLB_compare_to_MT_translation/
analysis/compare_to_MT_translation/check_instances.csv
analysis/compare_to_MT_translation/check_instances_3wrong.csv
analysis/compare_to_MT_translation/data/
analysis/explore_false_positives.py
analysis/false_positives/
analysis/positives/
analysis/new_stats.py
additional_data