*.db
pretrained*.jsonl
parallelize*.jsonl
logs
env
wandb
judge/data
out
print_prompt.sh
judge/manual_review/old
judge/judge_models/
results/mc2/
results/*.csv
*old*
judge/judge_output/
results/results_to_csv.py
new_env
analysis/by_category
analysis/comparar_judge_MC.py
utils/config.yaml
__pycache__/
data/
analysis/compare_to_MT_translation/count_tokens.py
analysis/compare_to_MT_translation/errors.csv
analysis/compare_to_MT_translation/translate.slurm
analysis/Galician_validation.json
analysis/by_category.csv
analysis/by_type.csv
iaa_results_all.csv